name: Tag and Release

on:
  push:
    branches:
      - 'main'

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.21'

      - name: Run tests
        run: go test ./...

  bump-version:
    needs: run-tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Bump version and push tag
        id: bump-version
        run: |
          git fetch --tags
          latestTag=$(git describe --tags `git rev-list --tags --max-count=1`)
          
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            # If on main branch, increment the patch version
            newTag=$(echo $latestTag | awk -F. '{$NF = $NF + 1;} 1' OFS=.)
          else
            # If on another branch, append the branch name to the version
            branchName=$(echo "${{ github.ref }}" | sed -r "s/refs/heads\///g" | sed "s/\//-/g")
            newTag="${latestTag}-${branchName}"
          fi
          
          git tag $newTag
          git push origin $newTag
          echo "NEW_TAG=${newTag}" >> $GITHUB_ENV
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_COMMITTER_NAME: github-actions
          GIT_COMMITTER_EMAIL: github-actions@github.com

  goreleaser:
    needs: bump-version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  create-pr:
    needs: goreleaser
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Extract version from latest release using GH CLI
        id: extract-version
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          TAG=$(gh release list --limit 1 --repo goalfeed/goalfeed | awk '{print $1}')  # Get the latest release tag
          VERSION="${TAG#v}"  # Remove the 'v' prefix for config.yaml
          echo "::set-output name=version_config::\"$VERSION\""  # Wrap in double quotes for config.yaml
          echo "::set-output name=version_docker::$TAG"  # Keep 'v' prefix for Dockerfile
        shell: bash

      - name: Clone target repository and create PR using GH CLI
        env:
          GH_TOKEN: ${{ secrets.HASSIO_REPO_PR_TOKEN }}
        run: |
          # Setup git config
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"

          # Authenticate with GH CLI using the organizational secret
          gh auth login --with-token <<< "$GH_TOKEN"

          # Clone the target repository
          git clone https://github.com/goalfeed/hassio-goalfeed-repository.git
          cd hassio-goalfeed-repository/goalfeed

          # Modify the files
          sed -i 's/^version: .*/version: ${{ steps.extract-version.outputs.version_config }}/' config.yaml
          sed -i 's/ARG GOALFEED_VERSION=.*/ARG GOALFEED_VERSION=${{ steps.extract-version.outputs.version_docker }}/' Dockerfile

          # Commit and push changes
          git checkout -b "update-version-${{ steps.extract-version.outputs.version_config }}"
          git add .
          git commit -m "Update to version ${{ steps.extract-version.outputs.version_config }}"
          git push origin "update-version-${{ steps.extract-version.outputs.version_config }}"

          # Create PR using GH CLI
          gh pr create --base main --head "update-version-${{ steps.extract-version.outputs.version_config }}" --title "Update to version ${{ steps.extract-version.outputs.version_config }}" --body "This PR updates the version to ${{ steps.extract-version.outputs.version_config }}." --repo goalfeed/hassio-goalfeed-repository
